<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?size=626&ext=jpg&ga=GA1.2.265424169.1647482877"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img
        src="https://img.freepik.com/foto-gratis/vista-posterior-programador-trabajando-toda-noche_1098-18697.jpg?size=626&ext=jpg&uid=R70092197&ga=GA1.2.265424169.1647482877"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img
        src="https://img.freepik.com/foto-gratis/codigo-programacion-portatil-fondo_1134-61.jpg?size=626&ext=jpg&uid=R70092197&ga=GA1.2.265424169.1647482877"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br /><br />
<div class="container accordion">
  <h1 class="display-1 text-center text-danger">¿Qué es la programación?</h1>
  <br />
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button bg-dark text-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          ¿Qué es ser developer?
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          <strong
            >Un programador es una persona que crea software (aplicaciones
            informáticas) mediante instrucciones programáticas específicas.
          </strong>
          Por esta razón también se le llama escribir software, pues se trata de
          la escritura de una serie de códigos que dan como resultado la
          programación deseada.
          <br />
          La gran mayoría de los programadores son expertos en computación, así
          como también en la codificación en diversos lenguajes y plataformas de
          programación, como pueden ser SQL (lenguaje de consulta estructurado),
          XML (lenguaje de marcado extensible), PHP, C, C++, Perl y Java entre
          otros. <br />
          Los programadores pueden tener conocimiento general que les sirve para
          trabajar en cualquier ámbito, pero también pueden especializarse en
          diferentes ramas o campos de la computación. <br />
          Por ejemplo, un programador puede especializarse en desarrollo de
          firmware o software (aplicaciones para móviles y para computadores), o
          en bases de datos, en seguridad, etc. <br />
          Los programadores son parte fundamental del desarrollo de la
          tecnología y la computación ya que están permanentemente mejorando y
          ampliando la tecnología y todo el campo de la computación.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed bg-dark text-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          ¿Qué hace un developer?
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body">
          <strong>
            Los programadores informáticos se encargan de crear el código que se
            utiliza para el funcionamiento de los software, firmwares y sistemas
            operativos.
          </strong>
          <br />

          Este código lo crean siguiendo los lineamientos que les da un
          desarrollador de software, quien es el que diseña (piensa) el programa
          y le entrega los lineamientos al programador. <br />
          El programador luego escribe un código o serie de instrucciones
          capaces de ser seguidas por el computador, para después proceder a
          probarlo, una y otra vez, para corregir errores, eliminar sobrantes y
          añadir cosas nuevas hasta que el programa se considere libre de
          errores y completamente terminado. <br />
          Una vez hecho esto el software, firmware o sistema operativo es
          lanzado para ser usado. Durante este tiempo, el programador se
          mantiene evaluando el programa y realizando las correcciones
          necesarias mediante actualizaciones y ajustes según le parezcan
          necesarios.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed bg-dark text-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          Definición de desarrollo web
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body">
          <strong
            >El desarrollo web es un término que define la creación de sitios
            web para Internet o una intranet. </strong
          >Para lograr esto, la tecnología de software se usa en el lado del
          servidor y del lado del cliente, lo que implica una combinación de
          procesos de base de datos utilizando un navegador para realizar
          ciertas tareas o mostrar información.
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
