<div id="contenido" class="bg-dark text-white py-5">
  <div class="container">
    <h1 class="text-center display-2 text-info">
      Fronted Developer <i class="bi bi-front"></i>
    </h1>

    <div class="row aling-items-center">
      <div class="col-12 col-md-9">
        <br />
        <h3>¿Qué hace un frontend developer?</h3>
        <hr />
        <p class="text-secondary">
          El programador frontend trabaja en la parte “delantera” de las
          aplicaciones. Esto significa que esta clase de programador trabaja con
          la parte de la aplicación de cara al usuario final. <br /><br />
          El programador frontend escribe el código informático que muestra los
          datos de las aplicaciones a los usuarios, es decir, trabaja con el
          envío y recepción de datos desde y hacia el backend. Esta clase de
          programadores están ampliamente familiarizados con lenguajes como el
          JavaScript, HTML, CSS, JSON, XML, API y muchos otros. Además de esto,
          son capaces de escribir su propio código desde cero. <br /><br />
          Estos programadores, además, son capaces de conocer y comprender los
          beneficios del uso de preprocesadoras como Coffescript o frameworks y
          librerías como Ember.
        </p>

        <button type="button" class="btn btn-light">Conoce más</button>
      </div>
      <div class="col-12 col-md-3">
        <br /><br /><br />

        <img
          src="https://img.freepik.com/foto-gratis/representacion-3d-espacio-trabajo-computadora-que-muestra-front-end_72104-4224.jpg?size=626&ext=jpg&uid=R70092197&ga=GA1.2.265424169.1647482877"
          class="img-fluid rounded"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="card">
    <h1><strong class="mt-4 display-3">Frontend</strong></h1>
    <div class="container mt-2">
      <div class="row">
        <div class="col">
          '<youtube-player
            videoId="vsBM3U_3ORU"
            suggestedQuality="highres"
            [height]="200"
            [width]="300"
          ></youtube-player
          >'
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />

<!-- default, small, medium, larhe, hg720
 -->
