<div id="contenido" class="bg-dark text-white py-5">
  <div class="container">
    <h1 class="text-center display-2 text-warning">
      Full Stack Developer <i class="bi bi-display"></i>
    </h1>

    <div class="row aling-items-center">
      <div class="col-12 col-md-9">
        <br />
        <h3>¿Qué hace un Full Stack developer?</h3>
        <hr />
        <p class="text-secondary">
          Esta clase de programador viene siendo un híbrido entre las dos clases
          mencionadas anteriormente. Y es que un programador fullstack está en
          capacidad de realizar tareas de programación backend así como de
          frontend. <br /><br />
          Esta clase de programador puede pensarse a primera vista como más
          completo puesto que tiene mayor versatilidad ya que desarrolla ambas
          partes del proceso de programación. <br /><br />
          Sin embargo, en muchos casos un programador fullstack si bien es
          cierto que conoce ambos ámbitos, también es verdad que no es un
          especialista ya que ha estudiado ambos campos pero a un nivel general,
          mientras que en los casos anteriores son especializados cada uno en su
          campo.
        </p>

        <button type="button" class="btn btn-light">Conoce más</button>
      </div>
      <div class="col-12 col-md-3">
        <br /><br /><br />

        <img
          src="https://img.freepik.com/vector-gratis/visualizacion-paginas-web-procedimiento-protocolo-flujo-trabajo-software-dinamico-desarrollo-full-stack-marcado-sistema-administracion-driver-memoria-compartida-ilustracion-metafora-concepto-aislado-vector_335657-4299.jpg?size=338&ext=jpg&uid=R70092197&ga=GA1.2.265424169.1647482877"
          class="img-fluid rounded"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="card">
    <h1><strong class="mt-4 display-3">Full Stack</strong></h1>
    <div class="container mt-2">
      <div class="row">
        <div class="col">
          '<youtube-player
            videoId="D730itwFoq4"
            suggestedQuality="highres"
            [height]="200"
            [width]="300"
          ></youtube-player
          >'
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
