<div id="contenido" class="bg-dark text-white py-5">
  <div class="container">
    <h1 class="text-center display-2 text-success">
      Backend Developer <i class="bi bi-back"></i>
    </h1>

    <div class="row aling-items-center">
      <div class="col-12 col-md-9">
        <br />
        <h3>¿Qué hace un backend developer?</h3>
        <hr />
        <p class="text-secondary">
          El programador backend es aquel que trabaja en la parte de la
          aplicación que se encarga del soporte base para la aplicación, como
          puede ser el manejo de datos y el servidor, entre otros elementos.
          <br /><br />
          Este tipo de programador desarrolla su actividad tanto en la
          infraestructura como en la base de datos de la aplicación. Esta clase
          de programador tiene la capacidad de crear aplicaciones desde cero,
          entienden y conocen los beneficios del uso de frameworks y tienen
          amplia experiencia en lenguajes de programación como lo son el Ruby,
          PHP, Java y Python, entre otros. <br /><br />
          Por otro lado, los programadores especializados en backend, conocen
          las bases de datos SQL Server, MySQL, PostgreSQL, Apache, nginx y
          otras.
        </p>

        <button type="button" class="btn btn-light">Conoce más</button>
      </div>
      <div class="col-12 col-md-3">
        <br /><br /><br />

        <img
          src="https://img.freepik.com/foto-gratis/codigo-programacion-resumen-antecedentes-tecnologia-desarrollador-software-script-computadora_34663-31.jpg?size=626&ext=jpg&uid=R70092197&ga=GA1.2.265424169.1647482877"
          class="img-fluid rounded"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="card">
    <h1><strong class="mt-4 display-3">Backend</strong></h1>
    <div class="container mt-2">
      <div class="row">
        <div class="col">
          '<youtube-player
            videoId="s95S1_vP-dQ"
            suggestedQuality="highres"
            [height]="200"
            [width]="300"
          ></youtube-player
          >'
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
